* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "M PLUS 1p", sans-serif;
  font-size: calc(112.5% + 0.25vw);
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 100%;
}

/* ----------------------------------------------
----------------module--spacing----------------
----------------------------------------------------- */
.module--spacing--verySmall {
  height: 10px;
}

.module--spacing--small {
  height: 20px;
}

.module--spacing--large {
  height: 30px;
}

.module--spacing--veryLarge {
  height: 40px;
}

/* ----------------------------------------------------
----------------------loading---------------------
----------------------------------------------------- */
.load {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
